<html>
  <head>
    {{ content_for_header }}
    <title>{{ shop.name }} - {{ page_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      {% assign base_font = settings.font_family %}

      {{ base_font | font_face: font_display: 'swap' }}

      {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
      {{ base_font_bold | font_face: font_display: 'swap' }}
    </style>
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="body">
    <input
      class="offcanvas-control"
      type="checkbox"
      id="show_menu" />
    <div class="layout">
      <header class="header {% if settings.header_bg_transparent %}header-overlap{% endif %}">
        <div class="container-fluid">
          <div class="wrap flex items-center justify-between">
            <div class="navbar">
              <label class="offcanvas-switch" for="show_menu">{% include 'svg-menu' %}</label>
              <ul class="nav flex flex-column">
                {% for link in linklists.main-menu.links %}
                  <li class="nav__item">
                    <a class="nav__link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <h1>{{ shop.name }}</h1>
            <div class="extra-links">
              <div class="mini-cart relative">
                {% include 'svg-bag' %}
                <div class="mini-cart-content absolute">
                  {% if cart.item_count == 0 %}
                    Your cart is currently empty
                  {% else %}
                    {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}
                    <span>-</span>
                    Total: {{ cart.total_price | money_with_currency }}
                    <span>-</span>
                    <a href="/cart">View Cart</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="main">
        {{ content_for_layout }}
      </main>

      <footer>
        <div class="container">
          <div>
            {%- unless shop.enabled_payment_types == empty -%}
              <div class="payment-icons flex items-center justify-center gap-1">
                {%- for type in shop.enabled_payment_types -%}
                  <div class="payment-icons__item">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </div>
                {%- endfor -%}
              </div>
            {%- endunless -%}
          </div>
          <div class="text-center">© {{ "now" | date: '%Y' }} {{ shop.name }} | Developed by
            <a href="https://sergiomedina.netlify.app/?utm_source=carolamonje" target="_blank">sergiomedina.me</a>
          </div>
        </div>
      </footer>

    </div>

  </body>
</html>