<html>
  <head>
    {{ content_for_header }}
    <title>{{ shop.name }} - {{ page_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>untitled</title>
    {{ 'main.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="body">
	<header class="header">
		<div class="container">
			<div class="wrap flex items-center justify-between">
				{% include 'svg-menu' %}
				<h1>{{ shop.name }}</h1>
				<div class="navbar">
					<ul class="nav flex items-center">
						{% for link in linklists.main-menu.links %}
							<li class="nav__item">
								<a href="{{ link.url }}">{{ link.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="extra-links">
					{% include 'svg-bag' %}
				</div>
			</div>
		</div>
	</header>

	<main class="main">
		<div class="container">
			<div class="wrap">
				{{ content_for_layout }}
			</div>
		</div>
	</main>

  </body>
</html>