{% assign item = section.settings %}
{% assign name_collection = item.feature_collection %}
{% assign length = item.limit | plus: 0 %}

{% if name_collection == blank %}
  {% assign name_collection = "all" %}
{% endif %}

{% assign collection = collections[name_collection] %}


<div class="products-section">
  <div class="container">
    {% if item.title != "" %}
      <h2>{{ item.title }}</h2>
    {% endif %}
    {% if item.description != "" %}
      <p>{{ item.description }}</p>
    {% endif %}
  </div>

  <div class="container{% if item.full_width %}-fluid{% endif %}">
    {% if collection.products.size == 0 %}
      <p>No hay productos</p>
    {% else %}
      <div class="grid gap-2 b:skin-cols" style="--skin-cols: {{ item.columns }}; --title-color: {{ item.title_color }}; --price-color: {{ item.price_color }}">
        {% for product in collection.products limit: length %}
          <div class="card">
            <div class="card__thumb">
              <img
                src="{{ product.images.first | image_url: width: 520 }}"
                loading="lazy"
                alt="{{ product.title }}"
                title="{{ product.title }}" />
              {% if product.images[1] %}
                <img
                  src="{{ product.images[1] | image_url: width: 520 }}"
                  loading="lazy"
                  alt="{{ product.title }}"
                  title="{{ product.title }}" />
              {% endif %}
            </div>
            <div class="card__content text-center">
              <div class="card-wrap">
                <h1 class="card__title small">
                  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                </h1>
                <div class="card__price small">{{ product.price | money }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Listado de productos",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Sección de ancho completo"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Título"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Descripción"
      },
      {
        "type": "collection",
        "id": "feature_collection",
        "label": "Colección"
      }, {
        "type": "text",
        "id": "limit",
        "label": "Número de productos a mostrar",
        "default": "6"
      }, {
        "type": "range",
        "id": "columns",
        "min": 2,
        "max": 6,
        "label": "Productos por fila",
        "default": 6,
        "step": 1
      }, {
        "type": "header",
        "content": "Colores"
      }, {
        "type": "color",
        "id": "title_color",
        "label": "Título",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "price_color",
        "label": "Precio",
        "default": "#000000"
      }
    ]
  }
{% endschema %}