{% assign item = section.settings %}
<div class="container">
  <div class="banners">
    {% for block in section.blocks %}
      {% assign banner = block.settings %}
      <div class="banner relative">
        {% if banner.image %}
          <div class="banner__image overflow-hidden ratio ratio-{{ item.ratio }} z-10">{{ banner.image | image_url: width: 700 | image_tag: preload: true, class: "fit-image" }}</div>
        {% endif %}
        <div class="banner__content absolute zi-20">
          {% if banner.title %}
            <div class="banner__title">{{ banner.title }}</div>
          {% endif %}
          {% if banner.subtitle %}
            <div class="banner__subtitle">{{ banner.subtitle }}</div>
          {% endif %}
          {% if banner.url %}
            <a class="banner__button" href="{{ banner.url }}">{{ banner.label }}</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Banner",
    "class": "index-section",
    "settings": [
      {
        "type": "select",
        "id": "ratio",
        "label": "Tamaño de imágenes",
        "options": [
          {
            "value": "21/9",
            "label": "21/9"
          },
          {
            "value": "16/9",
            "label": "16/9"
          },
          {
            "value": "4/3",
            "label": "4/3"
          },
          {
            "value": "3/4",
            "label": "3/4"
          }, {
            "value": "1/1",
            "label": "1/1"
          }, {
            "value": "1/2",
            "label": "1/2"
          }, {
            "value": "2/3",
            "label": "2/3"
          }, {
            "value": "5/7",
            "label": "5/7"
          }
        ],
        "default": "16/9"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Imagen"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Título"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtítulo"
          },
          {
            "type": "header",
            "content": "Botón"
          }, {
            "type": "url",
            "id": "url",
            "label": "Enlace"
          }, {
            "type": "text",
            "id": "label",
            "label": "Etiqueta de botón"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner",
        "category": "Simple Section"
      }
    ]
  }
{% endschema %}