{% assign item = section.settings %}
{% assign name_collection = item.feature_collection %}
{% assign length = item.limit | plus: 0 %}

{% if name_collection == blank %}
  {% assign name_collection = "all" %}
{% endif %}

{% assign collection = collections[name_collection] %}


{% # Container %}

{% assign full_width = item.full_width %}
{% if full_width %}
  {% assign container = "container-fluid" %}
{% else %}
  {% assign container = "container" %}
{% endif %}


<div class="products-section b:skin-section-sy">
  <div class="{{ container }} b:skin-sy-1">
    <div class="title-block text-{{ item.align }} b:skin-sy-2">
      {% if item.title != "" %}
        <h2>
          {% if item.button_on_title %}
            <a href="{{ collection.url }}" title="{{ collection.title  }}">{{ item.title }}</a>
          {% else %}
            {{ item.title }}{% endif %}
        </h2>
      {% endif %}
      {% if item.description != "" %}
        <p>{{ item.description }}</p>
      {% endif %}
    </div>

    <div class="content-block">
      {% if collection.products.size == 0 %}
        <p>No hay productos</p>
      {% else %}
        <div class="grid grid-cols cols-{{ item.columns_mobile }} md:cols-{{ item.columns_laptop }} lg:cols-{{ item.columns_desktop }} gap-2" style="--title-color: {{ item.title_color }}; --price-color: {{ item.price_color }}">
          {% for product in collection.products limit: length %}
            <div class="card">
              <div class="card__thumb">
                <img
                  src="{{ product.images.first | image_url: width: 520 }}"
                  loading="lazy"
                  alt="{{ product.title }}"
                  title="{{ product.title }}" />
                {% if product.images[1] %}
                  <img
                    src="{{ product.images[1] | image_url: width: 520 }}"
                    loading="lazy"
                    alt="{{ product.title }}"
                    title="{{ product.title }}" />
                {% endif %}
              </div>
              <div class="card__content text-center">
                <div class="card-wrap">
                  <h1 class="card__title small">
                    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                  </h1>
                  <div class="card__price small">{{ product.price | money }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if item.button_label != "" %}
          <a href="{{ collection.url }}" class="btn">{{ item.button_label }}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Listado de productos",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Ancho completo",
        "default": false
      },
      {
        "type": "text",
        "id": "title",
        "label": "Título"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Descripción"
      },
      {
        "type": "select",
        "id": "align",
        "label": "Alineación de título",
        "options": [
          {
            "value": "left",
            "label": "Izquierda"
          }, {
            "value": "center",
            "label": "Centrado"
          }, {
            "value": "right",
            "label": "Derecha"
          }
        ],
        "default": "center"
      }, {
        "type": "collection",
        "id": "feature_collection",
        "label": "Colección"
      }, {
        "type": "text",
        "id": "limit",
        "label": "Número de productos a mostrar",
        "default": "6"
      }, {
        "type": "header",
        "content": "Productos por fila"
      }, {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 6,
        "label": "Desktop",
        "default": 6,
        "step": 1
      }, {
        "type": "range",
        "id": "columns_laptop",
        "min": 1,
        "max": 6,
        "label": "Laptop",
        "default": 3,
        "step": 1
      }, {
        "type": "range",
        "id": "columns_mobile",
        "min": 1,
        "max": 6,
        "label": "Mobile",
        "default": 2,
        "step": 1
      }, {
        "type": "header",
        "content": "Botón"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Texto para el botón",
        "info": "Dejar vacío si no se quiere el botón."
      }, {
        "type": "checkbox",
        "id": "button_on_title",
        "label": "Agregar enlace al título y descripción"
      }, {
        "type": "header",
        "content": "Colores"
      }, {
        "type": "color",
        "id": "title_color",
        "label": "Título",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "price_color",
        "label": "Precio",
        "default": "#000000"
      }
    ]
  }
{% endschema %}