{% assign item = section.settings %}
<div class="main-banner relative overflow-hidden">
  <div class="container h-full flex items-center justify-center">
    <div class="wrap">
      <div class="relative zi-20">
        <h1 class="main-banner__title">{{ item.title }}</h1>
        {% if item.subtitle != "" %}
          <p class="main-banner__subtitle">{{ item.subtitle }}</p>
        {% endif %}
        {% if item.url != "" and item.button_label != "" %}
          <a class="main-banner__button" href="{{ item.url }}">{{ item.button_label }}</a>
        {% endif %}
      </div>
      <div class="main-banner__image absolute zi-10">
        {{ item.image | image_url: width: 1920 | image_tag }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Main banner",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitulo"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Imagen"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Enlace Call to action"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Texto Call to action"
      }
    ],
    "presets": [
      {
        "name": "Main banner",
        "category": "Simple Section"
      }
    ]
  }
{% endschema %}