{% assign item = section.settings %}
{% assign name_collection = item.feature_collection %}

{% if name_collection == blank %}
  {% assign name_collection = "all" %}
{% endif %}

{% assign collection = collections[name_collection] %}


<div class="products-section">
  <div class="container">
    <h2>test</h2>
    {% if collection.products.size == 0 %}
      <p>No hay productos</p>
    {% else %}
      <div class="grid cols-2">
        {% for product in collection.products %}
          <div class="card">
            <div class="card__thumb">
              <p>featured img</p>
              {{ product.featured_image }}
              <p>2</p>
              {{ product.images[2] }}
              <p>1 img</p>
              {{ product.images[1] }}
              <img
                src="{{ product.images.first | image_url: width: 520 }}"
                loading="lazy"
                alt="{{ product.title }}"
                title="{{ product.title }}" />
            </div>
            <div class="card__content">
              <div class="card-wrap">
                <h1 class="card__title">{{ product.title }}</h1>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Listado de productos",
    "class": "index-section",
    "settings": [
      {
        "type": "collection",
        "id": "feature_collection",
        "label": "Feature collection"
      }
    ]
  }
{% endschema %}