<div class="product">
  <div class="container">
    <!-- Product.liquid v0.1 -->
    <div class="grid grid-cols cols-2">
      <!-- product-images -->
      <div class="product__gallery">
        {% for image in product.images %}

          {% if forloop.first %}
            <div id="first-image">
              <a href="{{ image | product_img_url: 'large' }}" title="{{ product.title }}"><img src="{{ image | image_url: width: 520 }}" alt="{{ product.title | escape }}" /></a>
            </div>

          {% else %}

            <div class="product-images">
              <a href="{{ image | product_img_url: 'large' }}" title="{{ product.title }}"><img src="{{ image | image_url: width: 520 }}" alt="{{ product.title | escape }}" /></a>
            </div>

          {% endif %}

        {% endfor %}
      </div>
      <!-- product-details -->
      <div id="product__details">
        <h1 class="product__title text-center">{{ product.title }}</h1>
        <div class="product__price">{{ product.selected_or_first_available_variant.price | money }}</div>
        <div class="product__description">
          <label class="offcanvas-switch" for="show_description">Description</label>
          <input
            class="offcanvas-control"
            type="checkbox"
            name="offcanvas"
            id="show_description">
          <div class="testing">{{ product.description }}</div>
        </div>
        {% if product.available %}
          {% include 'product-variants-select' %}
        {% else %}
          Sorry, the product is not available
        {% endif %}

        <!-- Materiales -->
        <div class="product__tabs">
          <div class="product__tab">
            <label class="offcanvas-switch" for="show_tab_1">Materials</label>
            <input
              class="offcanvas-control"
              type="checkbox"
              name="offcanvas"
              id="show_tab_1">
            <div class="offcanvas-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt maiores placeat esse ipsam quis, iusto ad aliquam eum voluptatum tempora quos id doloremque blanditiis veniam iure vitae libero molestiae repellendus.</div>
          </div>
          <div class="product__tab">
            <label class="offcanvas-switch" for="show_tab_2">Materials</label>
            <input
              class="offcanvas-control"
              type="checkbox"
              name="offcanvas"
              id="show_tab_2">
            <div class="offcanvas-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt maiores placeat esse ipsam quis, iusto ad aliquam eum voluptatum tempora quos id doloremque blanditiis veniam iure vitae libero molestiae repellendus.</div>
          </div>
      </div>
    </div>


    <div id="product-alternative">
      <h3>Like what you see?</h3>
      Browse more {{ 'products like this' | link_to_type }} or more products by {{ product.vendor | link_to_vendor }}.
    </div>
    <!-- product alternative -->
  </div>
</div>
<script>
  window.addEventListener("DOMContentLoaded", async () => {
    const data = await ShopifyBlank.getProductData('{{ product.handle }}');

    const variants = document.getElementById("product-select");

    variants.addEventListener("change", function(selected) {

      // const current_variant = data.variants.filter((variant) => variant.id.toString() === selected.target.value);

      const selected_price = selected.target.selectedOptions[0].getAttribute("data-price");

      document.querySelector(".product__price").innerHTML = selected_price;
    });

    const lightbox = new SimpleLightbox('.product__gallery a', { /* options */ });
  });
</script>